.wrap h1 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
}

.wrap p {
    font-size: 16px;
    color: #666;
}

form {
    margin-top: 20px;
}

.home {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

select,
input[type="text"],
input[type="submit"] {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    /* width: 100%; */
    background-color: #2271B1;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/* Pagination styles */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .current {
    background-color: #0073aa;
    color: #fff;
    border-color: #0073aa;
}

.address-information, .home, span.error-msg {
    color: red;
}

/* custom-form-style.css */

.job-form-container {
    max-width: 500px;
}

.job-form-container label {
    display: block;
    margin-bottom: 5px;
}

.job-form-container input[type="text"],
.job-form-container select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
}

.job-form-container input[type="submit"] {
    width: 100%;
    max-width: calc(100% - 22px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.job-form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.job-type-select {
    min-height: 50px;
}
